<html>
  <head>
    <!--HEAD-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">


    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">



    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> blog checker </title>
    {% endif %}
  </head>
  <body>
    <div class="container">

    <h1>{{ project.name }}</h1>

    <!-- ENTER USERNAME-->
    <form class="border-success" method="POST" action="">
      <div class="form-group row">
        <div class="input-group input-group-lg">
          <span class="input-group-addon border-dark">@</span>
	         <input type="text" name="username" class="form-control col border-dark" id="inputUsername" placeholder="Enter Medium Username">
           <button method="post" type="submit" name="first" value="test1" class="btn btn-primary btn-lg">Find Blogs</button>
         </div>
       </div>



    <div class="form-group row">
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button style="width: 125px;" class="btn btn-secondary btn-lg btn-block dropdown-toggle border-dark" name="titles" type="submit" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	         Blog List
          </button>
          <ul class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
          {% for title in blog_titles %}
          <li>
            <input class="checkbox border-dark" type="checkbox" name="check" value="{{ title }}">
            {{ title }}
          </li>
          {% endfor %}
          </ul>
        </div>
          <input type="text" name="words" class="form-control border-dark" id="inputWords" placeholder="Enter Keyword(s)">
          <button type="submit" style="width: 125px;" name="second" value="test2" class="btn btn-primary btn-lg" method="POST">Find Words</button>
      </div>
    </div>
    </form>


    {% if word_search %}
    {% for k,v in word_search.items() %}
    <p>The keyword or phrase <strong style="font-size: 20px;">"{{ k }}"</strong> appears <strong style="font-size: 20px;"> {{ v }}</strong> times in the blog(s) selected</p>
    {% endfor %}
    {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
